/* Resetear algunos estilos por defecto del navegador */
body,
h1,
h2,
p,
ul {
    margin: 0;
    padding: 0;
}

/* Estilos generales del cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

/* Estilos para el contenido principal */
main {
    padding: 20px;
}

/* Estilos para las secciones */
section {
    margin-bottom: 30px;
}

/* Estilos para los artículos */
article {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

/* Estilos para las imágenes dentro del pie de página */
footer img {
    max-width: 30px;
    margin: 0 5px;
}

/* Estilos para las imágenes dentro de los artículos */
article img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}